<h1> <%= @job.title %></h1>

<%= simple_format @job.description %>

<div class="text-center">
  <p style="font-size: 30px;">
    <%= link_to("Submit Resume", new_job_resume_path(@job)) %>
  </p>

</div>
